<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WASM Test Bed</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <h1>WASM Test Bed</h1>
    <br>
    <div>
        <input type="number" name="n1" id="n1" style="width:50px" placeholder="n1">
        +
        <input type="number" name="n2" id="n2" style="width:50px" placeholder="n2">
        =
        <span id="result">X</span>
        <input type="button" value="Calc" id="calcBtn">
    </div>
    <script src="/index.js"></script>
</body>

</html>